body{
	margin: 0;
	padding:0;
	background:url('flipbg.jpg');
	background-size: cover;
	overflow: hidden;
}
.head{
	margin:1% auto;
	width: 40%;
	height: 20%;
	justify-content: center;
	display: flex;
	align-items: center;
	color:#3333ff;
	text-align: center;
	font-size: 15px;
	background: #fff;
	border-radius:0 30px;
	text-shadow: 3px 4px 5px rgba(0,0,0,0.4);
	font-family: 'Montserrat';
}
.main{
	width:900px;
	height:300px;
	margin: 1% auto;
	/*border:1px solid #000;*/
	display: flex;
	flex-direction: row;
}
.panel1,.panel2{
	width: 50%;
	height: 100%;
	margin: 10px;
	background: #fff;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#3333ff;
	text-align: center;
	font-family: 'Montserrat';
}
.panel1{
	border-radius: 0 30px;
}
.panel2{
	border-radius:30px 0;
}
a{
	text-decoration: none;
}
.formbtn{
	color: #3333ff;
}

.button{
	cursor: pointer;
	width: 140px;
	padding: 10px;
	margin: 5px;
	
	background: #fff;
	border-radius: 25px;
	border: 1px solid #3333ff;
	font-family: 'Montserrat';
	letter-spacing: 0.02em;
	text-transform: uppercase;
	transition: color 200ms ease-out,background 200ms ease-out;
}
.button:hover,.button:focus{
	outline: none;
}
.button:hover,.button:active{
	background: #3333ff;
	color:whitesmoke;
}
.button:active,.result:active{
	transform: scale(0.95);
}